// Custom colors
$primary-color: #ffe600;
$box-shadow-color: rgba(0, 0, 0, 0.2);
$background-color: #eeeeee;
$text-color: #666;
$button-color: #3483fa;
$error-color: #ff0000;

// Colors
$black: #000000;
$white: #ffffff;
